# Files
*.kdbx
.*_history
.xsession-errors
.xsession-errors.old
.osh-update
.Xauthority
.pypirc

# Directory
Downloads/
intelephense/
Documents/
Wallpapers/
yay/
.cache/
.cargo/
.gnupg/
.local/
.luaenv/
.mozilla/
.npm/
.oh-my-bash/
.oh-my-zsh/
.phpbrew/
.pki/
.pyenv/
.rustup/
.sdkman/
.ssh/
.tmux/
.vscode/
.dotnet/
.rest-client/

pycrypy/
