# Files
*.kdbx
.*_history

# Directory
Downloads/
intelephense/
Documents/
Wallpapers/
yay/
.cache/
.cargo/
.gnupg/
.local/
.luaenv/
.mozilla/
.npm/
.oh-my-bash/
.oh-my-zsh/
.phpbrew/
.pki/
pycrypy/
.pyenv/
.rustup/
.sdkman/
.ssh/
.tmux/
.vscode/
smashito/
